@font-face {
  font-family: "Sanchez";
  src: url("fonts/Sanchez.otf") format("woff2")
}

body {
  margin: 0;
  font-family: 'Sanchez', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDEAC7;
  color: #2b251c;
}

h1 {
  font-size: 2em;
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

li {
  font-size: 1.2em;
  list-style-type: none;
}

span {
    font-size: 1em;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
